<%= render @listing %>

<div>
  <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <%= link_to "Back to listings", listings_path %>

  <%= link_to "Destroy this listing", @listings, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger ml-3" %>
</div>
